APP_NAME="Mia Ventures OPC"
ROOT="/mia"

MAILER_USERNAME="xxxxxxxxxxx@gmail.com"
MAILER_PASSWORD="xxxxxxxxxxx"

DB_CONNECTION="mysql"
DB_HOSTNAME="localhost"
DB_USERNAME="root"
DB_PASSWORD=""
DB_DATABASE="mia_ventures_db_dev"
