@import url('home.css');

.content {
    display: flex;
    gap: 32px;
}

.upper-chart-row {
    gap: 32px;
    flex-wrap: wrap;
}

.sub-upper-chart-row {
    flex: 1;
    gap: 32px;
}

.lower-chart-col {
    gap: 32px;
}

.lower-chart-col>.line-chart-card {
    flex: 1;
}

.chart-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
}

.chart-card canvas {
    display: block;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.legend-item {
    width: fit-content;
}

.chart-container {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
}

.chart-title {
    margin: 0;
    text-align: left;
    font-size: 16px;
    color: var(--foreground);
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.line-chart-card {
    height: 100%
}

.line-chart-container {
    width: 100%;
    height: 500px;
}

.chart-control {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-chart-range {
    display: flex;
    align-items: center;
    gap: 8px;
}

.leaderboards-card {
    flex: 1;
}

.leaderboards-wrapper {
    width: 100%;
    height: 300px;
    min-width: 500px
}

.leaderboards-table-content {
    width: 100%;
    height: 100%;
}

.leaderboards-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

.leaderboards-table th {
    font-weight: 500;
}

.leaderboards-table th,
.leaderboards-table td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaderboards-table tbody tr {
    border-top: 1px solid var(--color-neutral-700);
}

.leaderboards-table tbody tr:nth-child(1) td:first-child {
    color: var(--color-amber-400);
    font-weight: 900;
}

.leaderboards-table tbody tr:nth-child(2) td:first-child {
    color: var(--color-zinc-400);
    font-weight: 700;
}

.leaderboards-table tbody tr:nth-child(3) td:first-child {
    color: var(--color-orange-400);
    font-weight: 600;
}

.leaderboards-table tbody tr {
    color: var(--text-hint-color);
}

.clients-today-container,
.banks-today-container,
.clients-series-container,
.banks-series-container,
.leaderboards-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.empty {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 4px;
    border: 2px solid var(--btn-outline-border);
    color: var(--btn-outline-border);
    font-weight: 600;
    user-select: none;
}

.empty svg {
    height: 56px;
    width: 56px;
    fill: currentColor;
}

.empty.load {
    border-color: transparent;
}

.empty.load::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(45deg,
            transparent 30%,
            var(--btn-outline-border) 45%,
            var(--btn-outline-border) 55%,
            transparent 70%);

    background-size: 300% 300%;
    animation: cardLoading 2s linear infinite;

    padding: 1px;
    -webkit-mask:
        linear-gradient(var(--foreground) 0 0) content-box,
        linear-gradient(var(--foreground) 0 0);
    mask:
        linear-gradient(var(--foreground) 0 0) content-box,
        linear-gradient(var(--foreground) 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.empty.load {
    background: linear-gradient(45deg,
            transparent 30%,
            var(--btn-outline-border) 45%,
            var(--btn-outline-border) 55%,
            transparent 70%);
    background-size: 300% 300%;
    animation: cardLoading 1.5s linear infinite;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.empty.load svg {
    color: var(--btn-outline-border);
    animation: svgPulse 1.5s linear infinite;
}

@keyframes cardLoading {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 100% 0%;
    }
}

@keyframes svgPulse {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

.bank-calendar-header {
    justify-content: space-between;
    align-items: center;
}

.dashboard-table-content {
    position: relative;
    min-height: 300px;
    margin-top: 24px;
}

.dashboard-table {
    width: 100%;
    font-family: inherit;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background);
    border: 1px solid var(--btn-outline-border);
}

.dashboard-table thead {
    background-color: var(--table-header-bg);
}

.dashboard-table th,
.dashboard-table td {
    padding: 10px;
    font-weight: 400;
    text-align: start;
}

.dashboard-table th:not(:first-child) {
    text-align: center;
}

.dashboard-table td {
    border: 1px solid var(--btn-outline-border);
}

.dashboard-table thead th:first-child {
    border-top-left-radius: 8px;
}

.dashboard-table thead th:last-child {
    border-top-right-radius: 8px;
}

.dashboard-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.dashboard-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.bank-calendar-th,
.bank-calendar-td {
    text-align: center !important;
}

.zero {
    color: var(--color-error);
}

.bank-calendar-td.disabled {
    background-color: var(--table-header-bg);
    color: var(--text-hint-color);
    pointer-events: none;
    opacity: 0.6;
}

.tabs-container {
    display: flex;
    position: relative;
    padding: 4px;
    border-radius: 32px;
    border: 1px solid var(--input-border);
    background-color: transparent;
    width: max-content;
    gap: 8px;
}

.tab-indicator {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0;
    border-radius: 28px;
    background-color: var(--header-bg);
    border: 1px solid var(--input-border);
    z-index: 0;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.tabs {
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 28px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: var(--text-hint-color);
    user-select: none;
    transition: color 0.3s ease;
}

.tabs:hover {
    color: var(--hover-primary-btn);
}

.tabs.active {
    color: var(--foreground);
}

.chart-header-flex {
    justify-content: space-between;
}

.title-tabs-group {
    align-items: center;
    gap: 1rem;
}

.clients-chart-wrapper {
    width: 100%;
}

.clients-table-wrapper {
    height: 500px;
    width: 100%;
    overflow: auto;
    display: none;
    border-radius: 8px;
    border: 1px solid var(--btn-outline-border);
}

.clients-data-table {
    border: none;
    overflow: auto;
}

.clients-data-table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--table-header-bg);
    border-bottom: 2px solid var(--btn-outline-border);
}

.clients-data-table th:not(:first-child),
.clients-data-table td:not(:first-child) {
    text-align: center;
}

.clients-data-table th,
.clients-data-table td {
    white-space: nowrap;
}

.clients-data-table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--table-header-bg);
    border-bottom: 2px solid var(--btn-outline-border);
}

.clients-data-table th:first-child,
.clients-data-table td:first-child {
    position: sticky;
    left: 0;
    z-index: 5;
    background-color: var(--hover-link-btn);
    border-right: 1px solid var(--btn-outline-border);
}

.clients-data-table thead th:first-child {
    z-index: 20;
    background-color: var(--table-header-bg);
}