@import url('home.css');

.content {
    display: flex;
    gap: 32px;
}

.upper-chart-row {
    gap: 32px;
    flex-wrap: wrap;
}

.sub-upper-chart-row {
    flex: 1;
    gap: 32px;
}

.lower-chart-col {
    gap: 32px;
}

.lower-chart-col>.line-chart-card {
    flex: 1;
}

.chart-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
    height: fit-content;
}

.chart-card canvas {
    display: block;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.legend-item {
    width: fit-content;
}

.chart-container {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
}

.chart-title {
    margin: 0;
    text-align: left;
    font-size: 16px;
    color: var(--foreground);
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.line-chart-card {
    height: 100%
}

.line-chart-container {
    width: 100%;
    height: 500px;
}

.chart-control {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-chart-range {
    display: flex;
    align-items: center;
    gap: 8px;
}

.leaderboards-card {
    flex: 1;
}

.leaderboards-wrapper {
    width: 100%;
    height: 300px;
    min-width: 500px
}

.leaderboards-table-content {
    width: 100%;
    height: 100%;
}

.leaderboards-table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

.leaderboards-table th {
    font-weight: 500;
}

.leaderboards-table th,
.leaderboards-table td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaderboards-table tbody tr {
    border-top: 1px solid var(--color-neutral-700);
}

.leaderboards-table tbody tr:nth-child(1) td:first-child {
    color: var(--color-amber-400);
    font-weight: 900;
}

.leaderboards-table tbody tr:nth-child(2) td:first-child {
    color: var(--color-zinc-400);
    font-weight: 700;
}

.leaderboards-table tbody tr:nth-child(3) td:first-child {
    color: var(--color-orange-400);
    font-weight: 600;
}

.leaderboards-table tbody tr {
    color: var(--color-neutral-300);
}

.clients-today-container,
.banks-today-container,
.clients-series-container,
.banks-series-container,
.leaderboards-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.empty {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 4px;
    border: 2px solid var(--color-neutral-600);
    color: var(--color-neutral-600);
    font-weight: 600;
    user-select: none;
}

.empty svg {
    height: 56px;
    width: 56px;
    fill: currentColor;
}

.empty.load {
    border-color: transparent;
}

.empty.load::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        45deg,
        transparent 30%,
        var(--color-neutral-600) 45%,
        var(--color-neutral-600) 55%,
        transparent 70%
    );

    background-size: 300% 300%;
    animation: cardLoading 2s linear infinite;

    padding: 1px;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.empty.load {
    background: linear-gradient(
        45deg,
        transparent 30%,
        var(--color-neutral-600) 45%,
        var(--color-neutral-600) 55%,
        transparent 70%
    );
    background-size: 300% 300%;
    animation: cardLoading 1.5s linear infinite;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.empty.load svg {
    color: var(--color-neutral-600);
    animation: svgPulse 1.5s linear infinite;
}

@keyframes cardLoading {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: 100% 0%;
    }
}

@keyframes svgPulse {
    0%,100% { opacity: 0.5; }
    50% { opacity: 1; }
}