@import url('home.css');

.submissions-card, .bank-type-leaderboard-card{
    margin-top: 24px;
}

.leaderboard-header {
    justify-content: space-between;
    align-items: center;
}

.leaderboard-filter {
    padding: 8px;
    border-radius: 8px;
    gap: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--background);
}

.leaderboard-podium {
    overflow: hidden;
    margin-top: 16px;
}

.podium-wrapper {
    width: 100%;
    justify-content: center;
    align-items: end;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.podium-container {
    width: 100%;
    margin-top: 24px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podium-container img {
    user-select: none;
    height: 100px;
    width: 110px;
}

.podium {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.podium-container-first {
    background: linear-gradient(
        to top,
        var(--color-amber-500),
        transparent
    );
}

.podium-container-second {
    background: linear-gradient(
        to top,
        var(--color-neutral-500),
        transparent
    );
}

.podium-container-third {
    background: linear-gradient(
        to top,
        var(--color-orange-800),
        transparent
    );
}

.podium-first {
    height: 200px;
}

.podium-second {
    height: 150px;
}

.podium-third {
    height: 100px;
}

.leaderboard-table-wrapper {
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-table th, .leaderboard-table td {
    text-align: center;
    height: 50px;
}

.leaderboard-table thead {
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
}

.leaderboard-table td {
    color: var(--text-subtle-color);
}

.leaderboard-table tr:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

.empty-leaderboards {
    height: 400px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid var(--input-border);
    color: var(--input-border);
    font-weight: 600;
    user-select: none;
    padding: 24px;
}

.empty-leaderboards svg {
    height: 56px;
    width: 56px;
    fill: var(--input-border);
}

.podium-agent-name {
    font-size: 20px;
    font-weight: 600;
}

.tabs-container {
    display: flex;
    position: relative;
    padding: 4px;
    border-radius: 32px; 
    border: 1px solid var(--input-border);
    background-color: transparent;
    width: max-content;
    gap: 8px; 
}

.tab-indicator {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0;
    border-radius: 28px;
    background-color: var(--header-bg);
    border: 1px solid var(--input-border);
    z-index: 0;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1); 
}

.tabs {
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 28px; 
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: var(--text-hint-color);
    user-select: none;
    transition: color 0.3s ease;
}

.tabs:hover {
    color: var(--hover-primary-btn);
}

.tabs.active {
    color: var(--foreground);
}

.tab-content .card {
    display: none;
}

.tab-content .leaderboard-card {
    display: block;
}

.total-highlight {
    font-weight: 600;
}

.zero {
    color: var(--color-danger) !important;
}

.bank-breakdown-table tbody tr:nth-child(1) td:first-child {
    color: var(--color-amber-400);
    font-weight: 900;
}

.bank-breakdown-table tbody tr:nth-child(2) td:first-child {
    color: var(--color-zinc-400);
    font-weight: 700;
}

.bank-breakdown-table tbody tr:nth-child(3) td:first-child {
    color: var(--color-orange-400);
    font-weight: 600;
}

.bank-breakdown-table .no-data {
    font-weight: 400 !important;
    color: var(--text-subtle-color) !important;
}